<nav id="nav">
    <ul>
    	<li id="home">
    		<a href="/">Home</a>
    	</li>
        {% if 'logged_in' in session and session['logged_in'] == True %}      
        <li class="li-right">
        	<a href="/logout">Logout</a>
        </li>
        <li class="li-right">
            <a href="/settings">Settings</a>
        </li>
        {% else %}
        <li class="li-right" id="register">
        	<a href="/register">Register</a>
        </li>
        <li class="li-right" id="login">
        	<a href="/login">Login</a>
        </li>
        {% endif %}
    </ul>
</nav>