{% extends 'layout.html' %}
{% block body %}
<div id="settings">
    <h2>Profile Data</h2>
    <form action="/settings" method="POST">
        <label for="name">Name</label><input class="" name="name" placeholder=""  type="text"><br>
        <label for="surname">Surname</label><input class="" name="surname" placeholder="" type="text"><br>
        <label for="age">Age</label><input class="" name="age" placeholder=""  type="number" id="age"><br>
        <label>Sex</label>
        <input type="radio" name="sex" value="male"><span>Male</span>
        <input type="radio" name="sex" value="female"><span>Female</span>
        <button name="ProfileData" type="submit">Submit</button>
    </form>

    <h2>Change email</h2>
    <form action="/settings" method="POST">
            <label>New email</label><input class="" name="email" placeholder="" type="email"><br>
            <button name="ChangeMail" type="submit">Submit</button>
    </form>

    <h2>Change password</h2>
    <form action="" method="POST">
        <label>Old password</label><input class="" name="password" placeholder="" required="" type="password"><br>
        <label>New password</label><input class="" name="new_pass" placeholder="" required="" type="password"><br>
        <label>Type again</label><input class="" name="again" placeholder="" required="" type="password"><br>
        <button name="ChangePassword" type="submit">Submit</button>
    </form>
</div>
{% endblock %}